:root{
    --bg-color: #fff;
    --text-color: black;
}

.dark-theme {
    --bg-color: #151515;
    --text-color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: var(--bg-color);
    color: var(--text-color);
}

#toggleDark{
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: fixed;
    left: 10px;
    color: var(--text-color);
    background-color: var(--bg-color);
}


#playAgain{
    border: 2px solid var(--text-color);
    border-radius: 25px;
    margin: 20px;
    padding: 5px;
    cursor: pointer;
    
    color: var(--text-color);
    background-color: var(--bg-color);
}


#board {
    height: 540px;
    width: 630px;
    background-color: blue;
    border: 10px solid navy;
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;

    /* Circle */
    background-color: var(--bg-color);
    border-radius: 50%;
    border: 5px solid navy;
}

@media only screen and (max-width: 660px){
    #board {
        height: 300px;
        width: 350px;
        border: 5.55px solid navy;
        margin: 0 auto;
    }

    .tile {
        height: 38.8px;
        width: 38.8px;
        margin: 2.77px;
        border: 2.77px solid navy;
    }
}

@media only screen and (max-height: 660px){
    #board {
        height: 300px;
        width: 350px;
        border: 5.55px solid navy;
        margin: 0 auto;
    }

    .tile {
        height: 38.8px;
        width: 38.8px;
        margin: 2.77px;
        border: 2.77px solid navy;
    }
}


@media only screen and (max-width: 420px){
    #board {
        height: 180px;
        width: 210px;
        border: 3px solid navy;
        margin: 0 auto;
    }

    .tile {
        height: 23px;
        width: 23px;
        margin: 1.66px;
        border: 1.66px solid navy;
    }
}

@media only screen and (max-height: 420px){
    #board {
        height: 180px;
        width: 210px;
        border: 3px solid navy;
        margin: 0 auto;
    }

    .tile {
        height: 23px;
        width: 23px;
        margin: 1.66px;
        border: 1.66px solid navy;
    }
}



.red-piece {
    background-color: red;
}

.yellow-piece {
    background-color: yellow;
}